<div style ="padding-bottom: 100px"></div>
<div class="container">
<div class="row" id="packages-row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <div class="well well-lg">
        <h2 class="text-center">Your Wedding Package</h2>

        {{#unless package}}
        <h3>It looks like you haven't created a package yet</h3>
        <p>To begin creating your wedding package, head on over to <span><a href="/vendors">Choose Vendors</a></span> to see our curated list of vendors available in your area</p>
        {{/unless}}

        <br>
        {{#each package}} 
            {{#if this.venue}}
            <div class="media">
                <div class="">
                   
                    <img class="media-object" src="{{this.venue.img}}" style="float: left; padding: 0px 20px">
                  
                </div>

            <div class="media-body">
                <h4 class="media-heading" style="font-weight: 600">{{this.venue.name}} </h4>
                <h4 class="media-heading">Price:{{this.venue.price}}</h4>
            </div>

            </div>

            {{/if}}
            {{#if this.photographer}}
            <div class="media">
                <div class="">
                    <a href="#">
                        <img class="media-object" src="{{this.photographer.img}}" style="float: left; padding: 0px 20px">
                    </a>
                </div>
            <div class="media-body">
                <h4 class="media-heading" style="font-weight: 600"> {{this.photographer.name}}</h4>
                <h4 class="media-heading">Price:{{this.photographer.price}}</h4>
            </div>
            </div>
            {{/if}}
            {{#if this.music}}
            <div class="media">
                <div class="">
                    <a href="#">
                        <img class="media-object" src="{{this.music.img}}" style="float: left; padding: 0px 20px">
                    </a>
                </div>
            <div class="media-body">
                <h4 class="media-heading" style="font-weight: 600"> {{this.music.name}}</h4>
                <h4 class="media-heading">Price:{{this.music.price}}</h4>
            </div>
            </div>
            {{/if}}
            {{#if this.florist}}
            <div class="media">
                <div class="">
                    <a href="#">
                        <img class="media-object" src="{{this.florist.img}}" style="float: left; padding: 0px 20px">
                    </a>
                </div>
            <div class="media-body">
                <h4 class="media-heading" style="font-weight: 600"> {{this.florist.name}}</h4>
               <h4 class="media-heading">Price:{{this.florist.price}}</h4> 
            </div>
            </div>
            {{/if}}
            {{#if this.caterer}}
            <div class="media">
                <div class="">
                    <a href="#">
                        <img class="media-object" src="{{this.caterer.img}}" style="float: left; padding: 0px 20px">
                    </a>
                </div>
            <div class="media-body">
                <h4 class="media-heading" style="font-weight: 600"> {{this.caterer.name}}</h4>
               <h4 class="media-heading">Price:{{this.caterer.price}}</h4> 
            </div>
            </div>
            {{/if}}
            {{#if this.cake}}
            <div class="media">
                <div class="">
                    <a href="#">
                        <img class="media-object" src="{{this.cake.img}}"style="float: left; padding: 0px 85px; margin-left: 20px;">
                    </a>
                </div>
            <div class="media-body">
                <h4 class="media-heading" style="font-weight: 600"> {{this.cake.name}}</h4>
                <h4 class="media-heading">Price:{{this.cake.price}}</h4>
            </div>
            </div>
            {{/if}}  
            <div class="center" style="font-weight: 900"><br>
            <h2 style="text-align: center">TOTAL PACKAGE: $
            ${{price}}</h2><br>
            <form action="/package/delete/{{this.id}}?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{this.id}}">
                <button class="btn btn-default">Contact vendors</button>
                <button class="btn btn-default" type="submit">Delete this Package</button>
            </form>
            </div>    
        {{/each}}
        <div class="center" style="font-weight: 900"><br>
        <h2 style="text-align: center">TOTAL PACKAGE: 
        ${{price}}</h2><br>
        <div style="text-align: center"> 
        <button>Contact vendors</button>
        <button>Update</button>
        <button>Delete this package</button>
        </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
</div>
</div>