{{#each package}}
<div class="package-card">
    <br>
    <h2>{{this.venue}}</h2>
    <h2>{{this.photographers}}</h2>
    <h2>{{this.music}}</h2>
    <h2>{{this.florists}}</h2>
    <h2>{{this.caterers}}</h2>
    <h2>{{this.cake}}</h2>
    <br>
</div>
{{/each}}