<div class="row" id="packages-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <h2 class="text-center">Your Package</h2>
        {{#each package}}
        <div class="package-card">
            <br>
            <h3>{{this.venue}}</h3>
            <h3>{{this.photographers}}</h3>
            <h3>{{this.music}}</h3>
            <h3>{{this.florists}}</h3>
            <h3>{{this.caterers}}</h3>
            <h3>{{this.cake}}</h3>
            <br>
        </div>
        {{/each}}

    </div>
    <div class="col-sm-1"></div>
</div>