<div class="container">
        <div class="row" id="providers-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2 class="text-center">Choose Your Vendors</h2>
                <div>
                    <br>
                    <div>
                    <p>Display by budget:  <span>
                    <a href="/vendors/low"><button class="btn btn-default">Low</button></a>
                    <a href="/vendors/medium"><button class="btn btn-default">Medium</button></a>
                    <a href="/vendors/high"><button class="btn btn-default">High</button></a></span></p>
                    </div>
                <form method="POST" action="/package/create">
                <div class="well">
                    <div class="row">
                        <h3>Venues</h3>
                        {{#each vendor}} {{#if_eq this.type 'venue'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}">
                                <div class="caption">
                                    <h4>{{this.name}}</h4>
                                    <p>Price: {{this.price}}</p>
                                    <p>{{this.capacity}}</p>
                                    <p>{{this.description}}</p>
                                    <p>{{this.address}}</p>
                                    <br>
                                    <input type="radio" name="venue" value="{{this.name}}">
                                </div>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}

                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h3>Photographers</h3>
                        {{#each vendor}} {{#if_eq this.type 'photographers'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}">
                                <div class="caption">
                                    <h4>{{this.name}}</p>
                                    <p>Price: {{this.price}}</p>
                                    <p>{{this.capacity}}</p>
                                    <p>{{this.description}}</p>
                                    <p>{{this.address}}</p>
                                    <br>
                                    <input type="radio" name="photographers" value="{{this.name}}">
                                </div>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well">
                    <div class="row">
                        <h3>Bands</h3>
                        {{#each vendor}} {{#if_eq this.type 'music'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h4>{{this.name}}</h4>
                                <p>Price: {{this.price}}</p>
                                <p>{{this.capacity}}</p>
                                <p>{{this.description}}</p>
                                <p>{{this.address}}</p>
                                <br>
                                <input type="radio" name="music" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well">
                    <div class="row">
                        <h3>Florists</h3>
                        {{#each vendor}} {{#if_eq this.type 'florist'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h4>{{this.name}}</h4>
                                <p>Price: {{this.price}}</p>
                                <p>{{this.capacity}}</p>
                                <p>{{this.description}}</p>
                                <p>{{this.address}}</p>
                                <br>
                                <input type="radio" name="florist" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well">
                    <div class="row">
                        <h3>Caterers</h3>
                        {{#each vendor}} {{#if_eq this.type 'caterers'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h4>{{this.name}}</h4>
                                <p>Price: {{this.price}}</p>
                                <p>{{this.capacity}}</p>
                                <p>{{this.description}}</p>
                                <p>{{this.address}}</p>
                                <br>
                                <input type="radio" name="caterers" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well">
                    <div class="row">
                        <h3>Cake</h3>
                        {{#each vendor}} {{#if_eq this.type 'cake'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h4>{{this.name}}</h4>
                                <p>Price: {{this.price}}</p>
                                <p>{{this.capacity}}</p>
                                <p>{{this.description}}</p>
                                <p>{{this.address}}</p>
                                <br>
                                <input type="radio" name="cake" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>
                <input id="providerSubmit" class="btn btn-default" type="submit">
    </form>
    </div>
    <div class="col-sm-1"></div>
    </div>
    </div>