
<div style ="padding-bottom: 100px"></div>
<div class="container">
{{!-- <form method="POST" action="/package/create"> --}}
        <div class="row" id="providers-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div>
                    <br>
                    <div>
                    <p>Display by budget:  
                        <a href="/vendors/low"><button class="btn btn-default">Low</button></a>
                        <a href="/vendors/medium"><button class="btn btn-default">Medium</button></a>
                        <a href="/vendors/high"><button class="btn btn-default">High</button></a>
                        <a href="/vendors"><button class="btn btn-default">All</button></a></span></p>
                    </div>
                <form method="POST" action="/package/create">
                <div class="well">
                    <div class="row">
                        <h2 class="text-center">Vendor Selections</h2>
                        <br>
                        {{#each vendor}} {{#if_eq this.type 'venue'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}">
                                <div class="caption">
                                    <h3 style="text-align: center">{{this.name}}</h3>
                                    <h4>{{this.address}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h3 style="text-align: center">Price: {{this.price}}</h3>
                                    <h4 style="text-align: center">{{this.capacity}}</h4>
                                    <br>
                                    <center>
                                    <input type="radio" name="venue" value="{{this.id}}" style="height:25px; width:25px; vertical-align: middle;">
                                    <p style="font-size: 8px; text-align: center;"><i>click to choose this venue</i></p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}

                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1 style="text-align: center">Photographers</h1><br>
                        {{#each vendor}} {{#if_eq this.type 'photographers'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}">
                                <div class="caption">
                                    <h3 style="text-align: center">{{this.name}}</h3>
                                    <h4 style="text-align: center">{{this.address}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h3 style="text-align: center">Price: {{this.price}}</h3>
                                    <h4 style="text-align: center">{{this.capacity}}</h4>
                                    <br>
                                    <center>
                                    <input type="radio" name="photographers" value="{{this.id}}" style="height:25px; width:25px; vertical-align: middle;">
                                    <p style="font-size: 8px; text-align: center;"><i>click to choose this photographer</i></p>
                                    </center>
                                </div>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1 style="text-align: center">Entertainment</h1><br>
                        {{#each vendor}} {{#if_eq this.type 'music'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" 
                                <div class="caption">
                                    <h3 style="text-align: center">{{this.name}}</h3>
                                    <h4 style="text-align: center">{{this.address}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h3 style="text-align: center">Price: {{this.price}}</h3>
                                    <h4 style="text-align: center">{{this.capacity}}</h4>
                                    <br>
                                <center>
                                    <input type="radio" name="music" value="{{this.id}}" style="height:25px; width:25px; vertical-align: middle;">
                                    <p style="font-size: 8px; text-align: center;"><i>click to choose this vendor</i></p>
                                    </center>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1 style="text-align: center">Florists</h1><br>
                        {{#each vendor}} {{#if_eq this.type 'florist'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" 
                                <div class="caption">
                                    <h3 style="text-align: center">{{this.name}}</h3>
                                    <h4 style="text-align: center">{{this.address}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h3 style="text-align: center">Price: {{this.price}}</h3>
                                    <h4 style="text-align: center">{{this.capacity}}</h4>
                                    <br>
                                <center>
                                    <input type="radio" name="florist" value="{{this.id}}" style="height:25px; width:25px; vertical-align: middle;">
                                    <p style="font-size: 8px; text-align: center;"><i>click to choose this florist</i></p>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1 h1 style="text-align: center">Caterers</h1><br>
                        {{#each vendor}} {{#if_eq this.type 'caterers'}}
                         <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" 
                                <div class="caption">
                                    <h3 style="text-align: center">{{this.name}}</h3>
                                    <h4 style="text-align: center">{{this.address}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h3 style="text-align: center">Price: {{this.price}}</h3>
                                    <h4 style="text-align: center">{{this.capacity}}</h4>
                                    <br>
                                <center>
                                    <input type="radio" name="caterers" value="{{this.id}}" style="height:25px; width:25px; vertical-align: middle;">
                                    <p style="font-size: 8px; text-align: center;"><i>click to choose this caterer</i></p>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1 style="text-align: center">Cakes</h1><br>
                        {{#each vendor}} {{#if_eq this.type 'cake'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}"
                                <div class="caption">
                                    <h3 style="text-align: center">{{this.name}}</h3>
                                    <h4>{{this.description}}</h4>
                                    <h3 style="text-align: center">Price: {{this.price}}</h3>
                                    <h4 style="text-align: center">{{this.capacity}}</h4>
                                <center>
                                    <input type="radio" name="cake" value="{{this.id}}" style="height:25px; width:25px; vertical-align: middle;">
                                    <p style="font-size: 8px; text-align: center;"><i>click to choose this bakery</i></p>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>
                <input id="providerSubmit" type="submit">
    </form>
    </div>
    <div class="col-sm-1"></div>
    </div>
    </div>