<form method="POST" action="/package/create">
        <div class="row" id="providers-row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2 class="text-center">Choose Your Vendors</h2>
                <div class="well well-lg">
                    <div class="row">
                        <h1>Venues</h1>
                        {{#each vendor}} {{#if_eq this.type 'venue'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}">
                                <div class="caption">
                                    <h3>{{this.name}}</h3>
                                    <h4>Price: {{this.price}}</h4>
                                    <h4>{{this.capacity}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h4>{{this.address}}</h4>
                                    <br>
                                    <input type="radio" name="venue" value="{{this.name}}">
                                </div>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}

                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1>Photographers</h1>
                        {{#each vendor}} {{#if_eq this.type 'photographers'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}">
                                <div class="caption">
                                    <h3>{{this.name}}</h3>
                                    <h4>Price: {{this.price}}</h4>
                                    <h4>{{this.capacity}}</h4>
                                    <h4>{{this.description}}</h4>
                                    <h4>{{this.address}}</h4>
                                    <br>
                                    <input type="radio" name="photographers" value="{{this.name}}">
                                </div>
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1>Bands</h1>
                        {{#each vendor}} {{#if_eq this.type 'music'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h3>{{this.name}}</h3>
                                <h4>Price: {{this.price}}</h4>
                                <h4>{{this.capacity}}</h4>
                                <h4>{{this.description}}</h4>
                                <h4>{{this.address}}</h4>
                                <br>
                                <input type="radio" name="music" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1>Florists</h1>
                        {{#each vendor}} {{#if_eq this.type 'florist'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h3>{{this.name}}</h3>
                                <h4>Price: {{this.price}}</h4>
                                <h4>{{this.capacity}}</h4>
                                <h4>{{this.description}}</h4>
                                <h4>{{this.address}}</h4>
                                <br>
                                <input type="radio" name="florist" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1>Caterers</h1>
                        {{#each vendor}} {{#if_eq this.type 'caterers'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h3>{{this.name}}</h3>
                                <h4>Price: {{this.price}}</h4>
                                <h4>{{this.capacity}}</h4>
                                <h4>{{this.description}}</h4>
                                <h4>{{this.address}}</h4>
                                <br>
                                <input type="radio" name="caterers" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <h1>Cake</h1>
                        {{#each vendor}} {{#if_eq this.type 'cake'}}
                        <div class="col-sm-4">
                            <div class="thumbnail">
                                <img src="{{this.img}}" alt="{{this.img}}" height="30%">
                                <h3>{{this.name}}</h3>
                                <h4>Price: {{this.price}}</h4>
                                <h4>{{this.capacity}}</h4>
                                <h4>{{this.description}}</h4>
                                <h4>{{this.address}}</h4>
                                <br>
                                <input type="radio" name="cake" value="{{this.name}}">
                            </div>
                        </div>
                        {{/if_eq}} {{/each}}
                    </div>
                </div>
                <input id="providerSubmit" type="submit">
    </form>
    </div>
    <div class="col-sm-1"></div>
    </div>